<%- include layout/dashboard/header %>
<body>
<%- include layout/dashboard/nav %>
<%- include layout/dashboard/menu %>
  <!-- Page -->
  <div class="page">
    <div class="page-content">

      <form method="POST">
      <h2>Key</h2>
      <%= key %>
      </form>

    </div>
  </div>
  <!-- End Page -->
</body>
<%- include layout/dashboard/footer %>