<%- include layout/site/header %>
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="/assets//images/logo-blue.png" alt="...">
            <h2 class="brand-text font-size-18">Disberse</h2>
          </div>
          <%= error %>
          <form method="post" action="/wallet" autocomplete="off">
             <input type="hidden" name="action" value="regpin">

            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="text" class="form-control"  name="org" value="<%= org %>" />
              <label class="floating-label">Your Organisation</label>
            </div>
            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="email" class="form-control" name="email" value="<%= email %>"/>
              <label class="floating-label">Email</label>
            </div>
            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="password" class="form-control" name="password" value="<%= password %>"/>
              <label class="floating-label">Password</label>
            </div>
            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="password" class="form-control" name="password_chk" />
              <label class="floating-label">Re-enter Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Sign up</button>
          </form>
          <p>Have account already? Please go to <a href="/wallet">Sign In</a></p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>DISBERSE © 2018. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->

<%- include layout/site/footer %>

